.container-xs {
  width: 30%;
  margin: 40px;
}

.booking-form {
  padding: 18px;
}

.booking {
  display: flex;
}

input[type=checkbox] {
  margin-right: 6px;
}

.alert {
  margin: 4rem;
}

.card {
  margin: 3rem;
}
